@import "tailwindcss";

/* for Whole Body: Everything will be RocGrotesk (Regular or Medium) automatically. */
/* for a Specific Parts: Use the class font-azeret to use the Mono font. */

@theme {
  --font-roc: "RocGrotesk", sans-serif;
  --font-azeret: "AzeretMono", monospace;
}

@font-face {
  font-family: "RocGrotesk";
  src: url("/assets/roc-grotesk-regular.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "RocGrotesk";
  src: url("/assets/roc-grotesk-medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "AzeretMono";
  src: url("/assets/azeret-mono-regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: var(--font-roc) !important;
}

/* @keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  /* 75% {
    opacity: 0;
  } */

  100% {
    opacity: 1;
  }
}

.blink-hover {
  animation: blink 0.6s steps(2, start);
}
